pip install --upgrade pip
pip install git+http://github.com/lwneal/imutil
pip install git+http://github.com/lwneal/logutil
pip install numpy
pip install scipy
pip install Pillow
pip install requests
pip install tqdm
pip install sklearn
pip install matplotlib
pip install seaborn
pip install Cython
pip install libMR
